<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <title>Password reset</title>
</head>
<body
        style="
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
      font-family: monospace;
    "
>
<table
        style="
        background-color: whitesmoke;
        margin: 1rem auto;
        border: 2px solid orange;
        width: 90%;
      "
>
    <tr>
        <td
                style="
            padding: 1rem;
            text-align: left;
            font-family: monospace;
            font-size: 1.25rem;
          "
        >
            <h4 style="margin: 0; padding: 0; font-size: 2rem">Dear User,</h4>
            <p style="margin: 0.5rem 0; line-height: 1.5">
                This is your password reset email. <br />
                By clicking the following link, you will proceed to password reset page:
            </p>
            <p style="margin: 1rem 0">
                <a
                        href="{{address}}"
                        target="_blank"
                        style="
                display: inline-block;
                padding: 0.75rem 1.5rem;
                text-decoration: none;
                background-color: orange;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1rem;
                border-radius: 5px;
              "
                >Reset password</a
                >
            </p>
            <p style="margin: 0; font-size: 0.9rem">
                If you didn’t request password change, do not click this link under any circumstances.
            </p>
            <p style="margin: 1rem 0 0; font-size: 0.9rem">Best regards,</p>
            <p style="margin: 0; font-weight: bold">RAG-2 team</p>
        </td>
    </tr>
    <tr>
        <td style="
            padding: 1rem;
            text-align: left;
            font-family: monospace;
            font-size: 0.75rem;
            color: #555;
            display: flex;
          ">
            <a href="https://rutai.kia.prz.edu.pl/" target="_blank" style="display: block; width: 100px; padding-right: 0.75rem">
                <img src="cid:logo" alt="RAG-2 Logo" style="width: 100px; height: auto; margin: 0 5px; display: block;" />
            </a>
            <div style="
            padding: 1rem;
            text-align: left;
            font-family: monospace;
            font-size: 0.75rem;
            color: #555;
            text-wrap: nowrap;
            display: block;
            width: auto
          ">            
                <p style="margin: 0; font-weight: bold">RUT-AI-GAMES 2.0</p>
                <p style="margin: 0">d.kalandyk@prz.edu.pl</p>
                <p style="margin: 0">Rzeszów University of Technology</p>
                <p style="margin: 0">Human-Computer Interaction Club "GEST"</p></div>
        </td>
    </tr>
</table>
</body>
</html>
